@import url('https://fonts.googleapis.com/css?family=Barrio');

body {
	background-color: #D19184;
	text-align: center;
	font-family: arial, sans-serif;
}
h1 {
	color: #FEF4F2;
	font-size: 60px;
	font-style: bold;
	font-family: Barrio, chalkduster, sans-serif;
}
h2 {
	color: #FFF;
	font-size: 20px;
}

p {
	color: #FEF4F2;
	font-size: 14px;
	line-height: 1.5em;
	margin: 2em;
}

h3 {
	color: #FEF4F2;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 14px;
}

hr {
	width: 80%;
	color: #FFF;
}

header {
	background-color: #3B2925;
	border: 2% black solid;
	padding: 4%;
	width: 100%;
}

nav {
	background-color: #3B2925;
	color: #3B2925;
	float: left;
	width: 50%;
	padding: 2%;
}

a {
	background-color: #3B2925;
	color: #000;
	text-decoration: none;
	display: block;
	padding: 3%;
	width: 25%;
}

a:hover {
	background-color: #FFF;
}

aside {
	background-color: #3B2925;
	border: 2% black solid;
	padding: 3%;
	width: 45%;
}

article {
	background-color: #3B2925;
	border: 2% solid black;
	padding: 25%;
}

section {
	background-color: #3B2925;
	border: 2% black solid;
	padding: 25%;
}

footer {
	background-color: #3B2925;
	border: 2% black solid;
	padding: 4%;
	width: 40%;
}

#two_column {
	background-color: #D19184;
	border: 2% black solid;
	padding: 4%;
}

#left {
	background-color: #fff;
	border: 2% black solid;
	padding: 4%;
	float: left;
	width: 62%;
}

#right {
	background-color: #fff;
	border: 2% solid black;
	padding: 4%;
	float: right;
	width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@ media only screen and (max-width: 1148px)