body {
	background-color: #D19184;
	text-align: center;
	font-family: arial, sans-serif;
}
h1 {
	color: #3B2925;
	font-size: 40px;
	font-style: bold;
	font-family: arial, sans-serif;
}
h2 {
	color: #47312D;
	font-size: 20px;
}
p {
	color: #47312D;
	font-size: 12px;
}
hr {
	width: 1200px;
	color: #FFF;
}